.navigation {
  transition: .2s ease;

  &.home-nav {
    transition: unset;
    top: 0;

    &.nav-bg-home {
      @include desktop {
        padding-bottom: 60px;
        top: -60px;
      }
    }
  }

  @include mobile-xs {
    zoom: 0.79;
  }

  .container {
    padding: 0;

    @include tablet {
      padding: 0 10px;
    }
  }

  .navbar {
    padding: 15px 0;
  }

  &.nav-bg {
    background: $white;
    box-shadow: 0 5px 20px rgba(62, 62, 62, 0.08);

    @include desktop {
      top: -60px;
    }
  }

  .form-inline {
    width: 30%;

    input {
      width: 100%;
      box-shadow: 0 5px 10px rgba(62, 62, 62, 0.05);
    }
  }

  @include desktop {
    .form-inline {
      width: 100%;
      margin-top: 15px;

      .form-control {
        box-shadow: none !important;
        border: 1px solid $border-color;

        &:focus {
          border: 0;
        }
      }
    }
  }
}

.search-wrapper {
  position: relative;

  .form-control {
    height: 46px;
    border: 0;
    border-radius: 6px;
    outline: 0;
    @extend .shadow;

    &:focus {
      @extend .shadow;
    }

    &::placeholder {
      color: $text-color-light;
      font-size: 15px;
    }

    &-lg {
      height: 70px;
    }

    &.active{
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    i {
      color: $primary-color;
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-wrap: nowrap;

  img {
    height: 26px;
    width: auto;
  }

  .site-logo {
    white-space: nowrap;

    .site {
      @include tablet {
        display: none;
      }
    }
  }

  .logo-devider {
    height: 30px;
    width: 3px;
    background-color: $border-color;
    margin: 0 10px;
  }

  .docs-logo {
    margin-top: 4px;
  }
}

.search-sticky {
  position: fixed;
  top: 10px;
  z-index: 9999;
  width: 28%;
  max-width: 500px;
  left: 39%;

  @include desktop {
    width: calc(100% - 20px);
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablet {
    max-width: 520px;
  }

  .form-control {
    height: 50px;
    box-shadow: 0 5px 10px rgba(62, 62, 62, 0.05);

    @include desktop {
      box-shadow: none !important;
      border: 1px solid $border-color;

      &:focus {
        border: 0;
      }
    }
  }

  .btn-primary {
    display: none;
  }

  .d-none {
    display: block;
  }
}
