body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  &-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-title {
    margin-bottom: 40px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0;
}

.rounded {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 15px 60px rgba(62, 62, 62, 0.102);
}

.d-unset {
  display: unset;
}

.bg-primary {
  background: $primary-color;
}

.text-primary {
  color: $primary-color;
}

.text-light {
  color: $text-color-light;
}

iframe{
  max-width: 100%;
}

.font-weight-medium {
  font-weight: 700;
}

.top-0 {
  top: 0;
}

.mark, mark {
  padding: 0;
  background-color: inherit;
  text-decoration: underline;
  color: inherit;
}

code{
  color: $primary-color;
}

.badge-primary {
  color: $white;
  background-color: $primary-color;
}
