// Color Variables
$primary-color: #757fe6;
$text-color: #333;
$text-color-dark: #222;
$text-color-light: #999;
$body-color: #fff;
$border-color: #E2E2E2;
$black: #000;
$white: #fff;
$light: #f5f5f5;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';