// Color Variables
$primary-color: #9703fd;

.navigation .navbar {
  padding: 7px 0 !important;
}
:not(pre) > code {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.sidenav .parent ul li.active > a,
.sidenav .active ul li.active > a {
  font-weight: 600;
}
