// Configuration (BS5)
@import "libs/bootstrap/scss/functions";
@import "libs/bootstrap/scss/variables";
@import "libs/bootstrap/scss/mixins";
@import "libs/bootstrap/scss/utilities";

// GoDocs theme setup
@import "scss/settings/colors";
@import "scss/settings/fonts";
@import "scss/settings/settings";
@import "scss/settings/local-settings";
@import "custom";

// Bootstrap (BS5)
@import "libs/bootstrap/scss/root";
@import "libs/bootstrap/scss/reboot";
@import "libs/bootstrap/scss/type";
@import "libs/bootstrap/scss/images";
@import "libs/bootstrap/scss/containers";
@import "libs/bootstrap/scss/grid";
@import "libs/bootstrap/scss/tables";
@import "libs/bootstrap/scss/forms";
@import "libs/bootstrap/scss/buttons";
@import "libs/bootstrap/scss/transitions";
//@import "libs/bootstrap/scss/dropdown";
//@import "libs/bootstrap/scss/button-group";
@import "libs/bootstrap/scss/nav";
@import "libs/bootstrap/scss/navbar";
//@import "libs/bootstrap/scss/card";
//@import "libs/bootstrap/scss/accordion";
//@import "libs/bootstrap/scss/breadcrumb";
@import "libs/bootstrap/scss/pagination";
@import "libs/bootstrap/scss/badge";
@import "libs/bootstrap/scss/alert";
//@import "libs/bootstrap/scss/progress";
//@import "libs/bootstrap/scss/list-group";
//@import "libs/bootstrap/scss/close";
//@import "libs/bootstrap/scss/toasts";
//@import "libs/bootstrap/scss/modal";
//@import "libs/bootstrap/scss/tooltip";
//@import "libs/bootstrap/scss/popover";
//@import "libs/bootstrap/scss/carousel";
//@import "libs/bootstrap/scss/spinners";

// Helpers & Utilities (BS5)
@import "libs/bootstrap/scss/helpers";
@import "libs/bootstrap/scss/utilities/api";

// GoDocs Plugin Files
@import "scss/plugins/autocomplete";
@import "scss/plugins/featherlight";
@import "scss/plugins/themify-icons";

// GoDocs Theme files
@import 'scss/mixins';
@import 'scss/typography';
@import 'scss/buttons';
@import 'scss/common';
@import 'scss/templates/navigation';
@import 'scss/templates/main';
